* {
  box-sizing: border-box;
}
body {
  background-image: url(img/space.jpg);
  margin: 50px;
}
.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  animation: planet 20s infinite linear;
}
.wrap {
  margin-top: 200px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
.cube > div {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 5px solid rgb(226, 140, 0);
  background-image: url(img/sun.png);
}
.front {
  transform: translateZ(100px);
}
.back {
  transform: rotateY(180deg) translateZ(-100px);
}
.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}
.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}
.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: top left;
}
.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
@keyframes planet {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
.container {
  display: flex;
  gap: 200px;
}
.fallingstar {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  animation-name: fallingstar;
  animation-duration: 1.5s;
  transition: 0.5s;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 5px 5px white;
}
@keyframes fallingstar {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(340px) translateX(300px);
  }
}
.fallingstar > div:nth-child(1) {
  animation-delay: 0.5s;
}
.container > div:nth-child(2) {
  animation-delay: 0.2s;
}
.container > div:nth-child(3) {
  animation-delay: 0.6s;
}
.container > div:nth-child(4) {
  animation-delay: 0.3s;
}
.container > div:nth-child(5) {
  animation-delay: 1s;
}
.container > div:nth-child(6) {
  animation-delay: 0.8s;
}
